*.dSYM

testcout

*.o

config.summary

config.status

Makefile

tmp.txt

/elkhound/glrconfig.h

*.tmp

*.d

*.tab.h

*.tab.cc

*.gen.y

*.gen.h

*.gen.cc

*.yy.cc

*.lex

*.ids

/smbase/libsmbase.a
/elsa/tlexer
/elsa/cc_tokens.h
/elsa/cc_tokens.cc
/elsa/cc.gr.gen.out
/elsa/astxml_tokens1_type.h
/elsa/astxml_tokens.h
/elsa/astxml_lexer1_type.cc
/elkhound/libelkhound.a
/elkhound/grampar.output
/elkhound/grampar.codes.h
/elkhound/examples/arith/arith
/elkhound/elkhound
/elkhound/cc2/cc2.gr.gen.out
/elkhound/cc2/cc2.exe
/elkhound/c/lexer2
/elkhound/c/cparse
/elkhound/c/c.tok
/ast/libast.a
/ast/ext1.h
/ast/ext1.cc
/ast/example.h
/ast/example.cc
/ast/ccsstr
/ast/astgen
/ast/agrampar.output
/ast/agrampar.codes.h

/elsa/quicktest
/elsa/ccparse
